/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif; /* Fonte unificada */
    background-color: #f4f4f4;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148818118.jpg?t=st=1726886123~exp=1726889723~hmac=eaac11ffa281066812cadb592736d5c7b226d9adc833e32912bc62c8816a1f84&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    line-height: 1.7;
    padding: 20px;
}

/* Layout da matéria */
article {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título principal (H1) */
header h1 {
    font-size: 2.5rem; /* Diminui um pouco para harmonizar */
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
    font-family: Arial, sans-serif; /* Unificar fonte */
    text-align: center; /* Centralizado como em muitos sites de notícias */
}

/* Subtítulo */
header .subtitulo {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

/* Seção de entrada de idade */
#input-age {
    margin-bottom: 20px;
}

#input-age .intro {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Resultado do cálculo */
#result {
    margin-top: 20px;
    font-size: 1.1rem;
}

.result-text {
    background-color: #f0f0f0;
    padding: 20px;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
}

/* Estilos das caixas para Rio 2016 e Atenas 2004 */
.year-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

/* Títulos h2 com espaçamento adequado */
h2 {
    font-size: 1.8rem;
    margin-top: 30px; /* Espaçamento acima do h2 */
    margin-bottom: 15px; /* Espaçamento abaixo do h2 */
    color: #333;
}
/* Títulos h3 com espaçamento adequado */
h3 {
    font-size: 1.8rem;
    margin-top: 30px; /* Espaçamento acima do h3 */
    margin-bottom: 15px; /* Espaçamento abaixo do h3 */
    color: #333;
}

/* Esconder inicialmente */
.hidden {
    display: none;
}

/* Rodapé da matéria */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #777;
}
