/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
    
}

/* Corpo da página */
body {
    font-family: 'Poppins', serif;
    background-color: #f4f4f4;
    background-image: url('879.jpg');
    color: #333;
    line-height: 1.7;
    padding: 20px;
}

/* Layout da matéria */
article {
    max-width: 1020px;
    margin: 0 auto;
    background-color: rgb(2, 2, 2);
    padding: 30px;
    box-shadow: 0 0 10px rgba(238, 231, 231, 0.1);
    color:#f0f0f0;
    
}


/* Título principal */
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color:azure;
    text-align: center;
    opacity: 0.9;
}

/* Subtítulo */
header .subtitulo {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #c7c5c5;
    text-align: justify;
}

/* Seção de entrada de idade */
#input-age {
    margin-bottom: 20px;
    
}

#input-age .intro {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #8ec0f5;

}

input[type="number"] {
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    max-width: 300px;
    border: 2px solid #007bff;
    margin-bottom: 15px;
}

button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', serif;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Resultado do cálculo */
#result {
    margin-top: 20px;
    font-size: 1.1rem;
    transition: opacity 0.5s ease-in-out;
    color:#3978bb;
}

.result-text {
    background-color: #f0f0f0;
    padding: 20px;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
}

/* Estilos das caixas para Rio 2016 e Atenas 2004 */
.year-box {
    background-color: #f0f0f0;
    color:#0056b3;
    padding: 20px;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

/* Títulos com espaçamento adequado */
h2, h3 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #3978bb;
}

/* Esconder inicialmente */
.hidden {
    display: none;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #777;
}

/* Estilo do canvas para os gráficos */
#chartRio2016, #chartAtenas2004 {
    width: 100%;   
    height: 300px; /* Ajustando para um tamanho menor */
    max-height: 300px; /* Tamanho máximo para evitar que fiquem grandes demais */
}

/* Ajustes de responsividade */
@media (max-width: 600px) {
    #chartRio2016, #chartAtenas2004 {
        height: 250px; /* Altura menor em telas menores */
    }
}
